@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    
}
root{
    --primary-color:#cd094e;
    --secondary-color:#0615de;
}

body{
    margin: 0;
    background-image:linear-gradient(45deg,#0f1623,#121a2a);
   
     font-family: "Poppins", sans-serif;
}

header{
    background-color: #0615de;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
}


.search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #22254b;
    background-color: transparent;
    font-family: inherit;
    color: #eee;
    font-size: 1rem;
    }
    
    .search::placeholder{
        color: #afb2dc;
    }
    
    .search:focus{
        outline: none;
        background-color: #05082c;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-track{
        background-image:linear-gradient(to bottom, rgb(0, 149, 255),rgb(26, 59, 250));;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(36, 1, 76);
    }
    
    
    /* ye baad me dekhte hai */
    
    .movie{
        box-shadow: 0.2px 4px 5px rgba(0,0,0,0.2);
        border-radius: 3px;
        width: 250px;
        background-color: #0d1dd2;
        margin: 1rem;
        overflow: hidden;
        position: relative;
    
    }
    
    .movie img{
     width: 100%;
    }

    .movie-info{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem;
        color: #eee;
        letter-spacing: 0.5px;
        align-items: center;
    }
    
    .movie-info h3{
        margin-top: 0;
    }
    
    .movie-info span{
        background-color: #22254b;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        font-weight: bold;
    }
    .movie-info span.green{
        color: rgb(46, 194, 46);
    }
    .movie-info span.orange{
     color: orange;
    }
    .movie-info span.red{
        color: red;
    
    }
    
    .overview{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        padding: 2rem;
        transform: translateY(101%);
    transition: transform 1.5s ease-in;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;



}

.movie:hover .overview{
    transform: translateY(0);

}

.overview h4{
    margin-top: 0;
}

#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.tag{
    color:white;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, rgb(0, 149, 255),rgb(26, 59, 250));
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor:pointer;
}
.tag.highlight{
    background-color: red;
    background-image: linear-gradient(to bottom, rgb(244, 4, 76),rgb(246, 3, 3));
}

.no-results{
    color: white;
}










